In [1]:
import pandas as pd

df = pd.read_csv("./dataset_mood_smartphone.csv")

In [2]:
import matplotlib.pyplot as plt

/home/ken/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [3]:
variables_list = df['variable'].unique()

In [4]:
# Initialize an empty DataFrame to store the results
stats_df = pd.DataFrame(columns=['Variable', 'Mean', 'Min', 'Max'])

# Loop through each variable to calculate mean, min, and max, and add to the DataFrame
for var in variables_list:
    values = df[df['variable'] == var]['value']
    stats = values.agg(['mean', 'min', 'max']).to_dict()  # Aggregate and convert to dictionary
    new_row = pd.DataFrame({'Variable': [var], 'Mean': [stats['mean']], 'Min': [stats['min']], 'Max': [stats['max']]})
    stats_df = pd.concat([stats_df, new_row], ignore_index=True)

stats_df

                Variable        Mean        Min        Max
0                   mood    6.992555      1.000     10.000
1     circumplex.arousal   -0.098624     -2.000      2.000
2     circumplex.valence    0.687808     -2.000      2.000
3               activity    0.115958      0.000      1.000
4                 screen   75.335206      0.035   9867.007
5                   call    1.000000      1.000      1.000
6                    sms    1.000000      1.000      1.000
7         appCat.builtin   18.538262 -82798.871  33960.246
8   appCat.communication   43.343792      0.006   9830.777
9   appCat.entertainment   37.576480     -0.011  32148.677
10        appCat.finance   21.755251      0.131    355.513
11           appCat.game  128.391615      1.003   5491.793
12         appCat.office   22.578892      0.003  32708.818
13          appCat.other   25.810839      0.014   3892.038
14         appCat.social   72.401906      0.094  30000.906
15         appCat.travel   45.730850      0.080  10452.615
16        appCat.unknown   45.553006      0.111   2239.937
17      appCat.utilities   18.537552      0.246   1802.649
18        appCat.weather   20.148714      1.003    344.863

In [5]:
stats_df.to_csv('Statistics_variables.csv')

In [6]:
# for var in variables_list:
#     values = df[df['variable'] == var]['value']
#     stats = values.describe()  # To get mean, min, and max
    
#     # Creating a new figure for each variable
#     plt.figure(figsize=(8, 6))
#     boxplot = plt.boxplot(values, vert=False, patch_artist=True, showmeans=True, whis=2)
    
#     # Customize box color
#     for patch in boxplot['boxes']:
#         patch.set(facecolor='lightblue')
    
#     # # Annotating Mean, Min, and Max
#     # plt.annotate(f"Mean: {stats['mean']:.2f}", xy=(stats['mean'], 1), xytext=(stats['mean'], 0.6),
#     #              arrowprops=dict(facecolor='red', shrink=0.05), horizontalalignment='center')
#     # plt.annotate(f"Min: {stats['min']:.2f}", xy=(stats['min'], 1), xytext=(stats['min'], 1.4),
#     #              arrowprops=dict(facecolor='green', shrink=0.05), horizontalalignment='center')
#     # plt.annotate(f"Max: {stats['max']:.2f}", xy=(stats['max'], 1), xytext=(stats['max'], 1.4),
#     #              arrowprops=dict(facecolor='blue', shrink=0.05), horizontalalignment='center')
    
#     plt.title(f'Boxplot for {var}')
#     plt.xlabel('Value')
#     plt.show()

In [7]:
# # Plot distributions unfiltered
# for var in variables_list:
#     # Filtering for 'variable' == "screen"
#     screen_values = df[df['variable'] == var]['value']

#     # Plotting the distribution
#     plt.figure(figsize=(8, 6))
#     plt.hist(screen_values, bins=50, alpha=0.7, color='blue')
#     plt.title(f'Distribution of {var}')
#     plt.xlabel('Value')
#     plt.ylabel('Frequency')
#     plt.grid(axis='y', alpha=0.75)
#     plt.show()

In [8]:
for var in variables_list:
    # Filtering for 'variable' == "screen"
    screen_values = df[df['variable'] == var]['value']

In [9]:
for var in variables_list:
    # Assuming df is your DataFrame and you're focusing on 'screen' values
    screen_values = df[df['variable'] == var]['value']

    # Calculate Q1, Q3, and IQR
    Q1 = screen_values.quantile(0.05)
    Q3 = screen_values.quantile(0.95)
    IQR = Q3 - Q1

    # Define bounds for outliers
    lower_bound = Q1 - 2 * IQR
    upper_bound = Q3 + 2 * IQR

    # Filter out outliers
    filtered_screen_values = screen_values[(screen_values >= lower_bound) & (screen_values <= upper_bound)]

    # You can also choose to filter the original DataFrame directly to keep rows without outliers
    df = df[(df['variable'] != var) | ((df['variable'] == var) & (df['value'] >= lower_bound) & (df['value'] <= upper_bound))]

In [10]:
# for var in variables_list:
#     # Filtering for 'variable' == "screen"
#     screen_values = df[df['variable'] == var]['value']

#     # Plotting the distribution
#     plt.figure(figsize=(8, 6))
#     plt.hist(screen_values, bins=50, alpha=0.7, color='blue')
#     plt.title(f'Distribution of {var}')
#     plt.xlabel('Value')
#     plt.ylabel('Frequency')
#     plt.grid(axis='y', alpha=0.75)
#     plt.show()

In [11]:
df[df['variable'] == "screen"]['value']

39892      58.846
39893       9.217
39894      19.829
39895     483.510
39896     812.907
           ...
136464     12.709
136465    133.394
136466    164.072
136467    504.017
136468    526.137
Name: value, Length: 95471, dtype: float64

In [12]:
df.drop(columns="Unnamed: 0", inplace=True)

In [13]:
df["time"] = pd.to_datetime(df['time'])
df["date"] = pd.to_datetime(df['time'].dt.date)

In [14]:
df[df['id'] == 'AS14.01']

             id                    time          variable   value       date
0       AS14.01 2014-02-26 13:00:00.000              mood   6.000 2014-02-26
1       AS14.01 2014-02-26 15:00:00.000              mood   6.000 2014-02-26
2       AS14.01 2014-02-26 18:00:00.000              mood   6.000 2014-02-26
3       AS14.01 2014-02-26 21:00:00.000              mood   7.000 2014-02-26
4       AS14.01 2014-02-27 09:00:00.000              mood   6.000 2014-02-27
...         ...                     ...               ...     ...        ...
374683  AS14.01 2014-05-03 14:03:36.736  appCat.utilities  24.084 2014-05-03
374685  AS14.01 2014-05-05 00:18:14.953  appCat.utilities  48.138 2014-05-05
374686  AS14.01 2014-05-05 00:19:42.322  appCat.utilities  48.156 2014-05-05
374687  AS14.01 2014-05-05 09:41:03.888  appCat.utilities   3.470 2014-05-05
376657  AS14.01 2014-03-23 16:21:32.480    appCat.weather  30.386 2014-03-23

[21736 rows x 5 columns]

In [15]:
# Pivot the DataFrame
df_pivoted = df.pivot_table(index=['id', 'date'], columns='variable', values='value', aggfunc='mean').reset_index()
df_pivoted

variable,id,date,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms
0,AS14.01,2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,AS14.01,2014-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,AS14.01,2014-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
3,AS14.01,2014-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
4,AS14.01,2014-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,AS14.33,2014-05-27,0.012704,5.004143,59.382943,62.347000,NaN,NaN,NaN,17.835750,...,NaN,NaN,18.724333,NaN,1.0,-0.600000,0.4,6.2,113.607750,1.0
1969,AS14.33,2014-05-28,0.103301,7.718042,37.238750,43.907571,NaN,NaN,21.254,27.891895,...,NaN,NaN,5.111000,NaN,1.0,0.000000,1.2,8.2,61.901410,1.0
1970,AS14.33,2014-05-29,0.169354,6.452161,54.388125,68.369000,NaN,NaN,NaN,9.734000,...,0.939000,NaN,1.599500,NaN,1.0,-1.333333,1.0,7.0,20.003321,1.0
1971,AS14.33,2014-05-30,0.192901,11.251162,46.412278,37.174286,NaN,NaN,NaN,10.522000,...,37.594571,2.690667,15.521667,NaN,1.0,-0.800000,-0.4,6.8,79.356587,NaN
1972,AS14.33,2014-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.000000,1.0,7.0,NaN,NaN

In [16]:
# Drop if no mood available and sort per person
df_pivoted.dropna(subset=["mood"], inplace=True)
df_pivoted.sort_values(by=['id', 'date'], inplace=True)

In [17]:
# Shift the columns to get the next day
df_pivoted['next_day'] = df_pivoted['date'] + pd.Timedelta(days=1)
df_pivoted['shifted_next_day'] = df_pivoted['date'].shift(-1)
df_pivoted['shifted_id'] = df_pivoted['id'].shift(-1)
df_pivoted['next_mood'] = df_pivoted['mood'].shift(-1)
df_pivoted = df_pivoted[((df_pivoted['shifted_next_day'] == df_pivoted['next_day']) & (df_pivoted['shifted_id'] == df_pivoted['id']))]
df_pivoted.dropna(subset="next_mood")
df_pivoted

variable,id,date,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,call,circumplex.arousal,circumplex.valence,mood,screen,sms,next_day,shifted_next_day,shifted_id,next_mood
7,AS14.01,2014-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,-0.250000,0.75,6.25,NaN,1.0,2014-02-27,2014-02-27,AS14.01,6.333333
26,AS14.01,2014-03-21,0.134050,7.703577,55.095526,53.024000,6.193000,NaN,57.402,29.968875,...,1.0,0.200000,0.20,6.20,95.814464,NaN,2014-03-22,2014-03-22,AS14.01,6.400000
27,AS14.01,2014-03-22,0.236880,5.126204,51.697062,46.662000,7.025333,NaN,NaN,14.020429,...,1.0,0.600000,0.50,6.40,47.613651,1.0,2014-03-23,2014-03-23,AS14.01,6.800000
28,AS14.01,2014-03-23,0.142741,6.214577,46.102072,31.448667,10.850750,NaN,NaN,12.137167,...,NaN,0.200000,0.80,6.80,67.067644,NaN,2014-03-24,2014-03-24,AS14.01,6.000000
29,AS14.01,2014-03-24,0.078961,4.982506,37.063531,55.131000,5.684333,NaN,3.010,11.093000,...,1.0,0.800000,0.00,6.00,66.436170,NaN,2014-03-25,2014-03-25,AS14.01,6.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,AS14.33,2014-05-26,0.115201,7.711316,34.320472,68.876900,NaN,NaN,130.530,16.845500,...,1.0,-0.400000,0.00,5.40,119.899100,1.0,2014-05-27,2014-05-27,AS14.33,6.200000
1968,AS14.33,2014-05-27,0.012704,5.004143,59.382943,62.347000,NaN,NaN,NaN,17.835750,...,1.0,-0.600000,0.40,6.20,113.607750,1.0,2014-05-28,2014-05-28,AS14.33,8.200000
1969,AS14.33,2014-05-28,0.103301,7.718042,37.238750,43.907571,NaN,NaN,21.254,27.891895,...,1.0,0.000000,1.20,8.20,61.901410,1.0,2014-05-29,2014-05-29,AS14.33,7.000000
1970,AS14.33,2014-05-29,0.169354,6.452161,54.388125,68.369000,NaN,NaN,NaN,9.734000,...,1.0,-1.333333,1.00,7.00,20.003321,1.0,2014-05-30,2014-05-30,AS14.33,6.800000
1971,AS14.33,2014-05-30,0.192901,11.251162,46.412278,37.174286,NaN,NaN,NaN,10.522000,...,1.0,-0.800000,-0.40,6.80,79.356587,NaN,2014-05-31,2014-05-31,AS14.33,7.000000

In [18]:
df_pivoted.drop(columns=["shifted_id", "shifted_next_day", "next_day"], inplace=True)

/tmp/ipykernel_15008/473913826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pivoted.drop(columns=["shifted_id", "shifted_next_day", "next_day"], inplace=True)

In [19]:
df_pivoted = df_pivoted.fillna(0)

In [20]:
df_pivoted

variable,id,date,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms,next_mood
7,AS14.01,2014-02-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,0.000000,...,0.000000,0.000000,0.000,1.0,-0.250000,0.75,6.25,0.000000,1.0,6.333333
26,AS14.01,2014-03-21,0.134050,7.703577,55.095526,53.024000,6.193000,0.0,57.402,29.968875,...,0.000000,13.103240,0.000,1.0,0.200000,0.20,6.20,95.814464,0.0,6.400000
27,AS14.01,2014-03-22,0.236880,5.126204,51.697062,46.662000,7.025333,0.0,0.000,14.020429,...,0.000000,39.207000,0.000,1.0,0.600000,0.50,6.40,47.613651,1.0,6.800000
28,AS14.01,2014-03-23,0.142741,6.214577,46.102072,31.448667,10.850750,0.0,0.000,12.137167,...,0.000000,30.086000,30.386,0.0,0.200000,0.80,6.80,67.067644,0.0,6.000000
29,AS14.01,2014-03-24,0.078961,4.982506,37.063531,55.131000,5.684333,0.0,3.010,11.093000,...,0.000000,10.064000,0.000,1.0,0.800000,0.00,6.00,66.436170,0.0,6.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,AS14.33,2014-05-26,0.115201,7.711316,34.320472,68.876900,0.000000,0.0,130.530,16.845500,...,0.000000,0.000000,0.000,1.0,-0.400000,0.00,5.40,119.899100,1.0,6.200000
1968,AS14.33,2014-05-27,0.012704,5.004143,59.382943,62.347000,0.000000,0.0,0.000,17.835750,...,0.000000,18.724333,0.000,1.0,-0.600000,0.40,6.20,113.607750,1.0,8.200000
1969,AS14.33,2014-05-28,0.103301,7.718042,37.238750,43.907571,0.000000,0.0,21.254,27.891895,...,0.000000,5.111000,0.000,1.0,0.000000,1.20,8.20,61.901410,1.0,7.000000
1970,AS14.33,2014-05-29,0.169354,6.452161,54.388125,68.369000,0.000000,0.0,0.000,9.734000,...,0.000000,1.599500,0.000,1.0,-1.333333,1.00,7.00,20.003321,1.0,6.800000
1971,AS14.33,2014-05-30,0.192901,11.251162,46.412278,37.174286,0.000000,0.0,0.000,10.522000,...,2.690667,15.521667,0.000,1.0,-0.800000,-0.40,6.80,79.356587,0.0,7.000000

In [47]:
df_pivoted_test = df_pivoted.copy()
df_pivoted_test['next_mood'] = df_pivoted_test['next_mood'].round().astype(int)
df_pivoted_test['mood'] = df_pivoted_test['mood'].round().astype(int)
df_pivoted_test['mood'] = df_pivoted_test['mood'].apply(lambda x: 1 if x > 5 else 0)
df_pivoted_test['next_mood'] = df_pivoted_test['next_mood'].apply(lambda x: 1 if x > 5 else 0)

In [48]:
df_pivoted['next_mood']

7       6.333333
26      6.400000
27      6.800000
28      6.000000
29      6.750000
          ...
1967    6.200000
1968    8.200000
1969    7.000000
1970    6.800000
1971    7.000000
Name: next_mood, Length: 1216, dtype: float64

In [49]:
target = df_pivoted_test['next_mood']
X_dataset = df_pivoted_test.drop(columns=['next_mood', 'id', 'date'])

In [50]:
target

7       1
26      1
27      1
28      1
29      1
       ..
1967    1
1968    1
1969    1
1970    1
1971    1
Name: next_mood, Length: 1216, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from collections import Counter

# Splitting the data into train, validation, and test sets
train_ratio = 0.7
val_ratio = 0.15
test_ratio = 0.15

# First, split into train+val and test sets
X_train, X_test, y_train, y_test = train_test_split(X_dataset, target, test_size=test_ratio, random_state=42)

# Apply SMOTE only on the training data
print('Original dataset shape %s' % Counter(y_train))
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_train_smote))

# Train a Random Forest Classifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train_smote, y_train_smote)

# Optionally, you can also evaluate the model on the test set
y_test_pred = clf.predict(X_test)
print("Test Set Classification Report:")
print(classification_report(y_test, y_test_pred))

Original dataset shape Counter({1: 1006, 0: 27})
Resampled dataset shape Counter({1: 1006, 0: 1006})
Test Set Classification Report:
              precision    recall  f1-score   support

           0       0.50      0.20      0.29         5
           1       0.98      0.99      0.99       178

    accuracy                           0.97       183
   macro avg       0.74      0.60      0.64       183
weighted avg       0.96      0.97      0.97       183